<!-- http://jinja.pocoo.org/docs/2.10/templates/#escaping -->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>{{ title }}</title>

<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.css"
    rel="stylesheet" type="text/css">
<link
    href="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.css"
    rel="stylesheet" type="text/css">

<script src="https://cdn.pydata.org/bokeh/release/bokeh-0.12.14.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.14.min.js"></script>
<script src="https://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.14.min.js"></script>

    </head>

    <body>

    <div><form>
    </form></div>
        <h1 align="center">Deec Algorithms!</h1>
    <h6 align="center">Upload your file and click go...</h6>
    <table border="0">
        <tbody>
        <tr>
            <td>

                <table>
                    <thead>

                    <tr>
                        <th>
                            (only csv format is allowed)
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <input name="input" type="file"/>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </td>
            <td width="70%">
                <div align="right"> <img src="{{ graph1 }}"> </div>
            </td>
        </tr>
        </tbody>
    </table>
    </body>

</html>